<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Stella Lim">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <title>MonoMuse</title>
</head>
<body onload="addYear()">

<header>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
    <h1>Explore</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a id="navselected" href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a class="cta" href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
</header>
<div class="main">
    <!-- need to add image later -->
    <h3>Mission Statement</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus urna urna. Fusce ac tempor sem. Nullam et ligula sapien. Mauris euismod ex a ex fringilla semper. Mauris eget turpis mauris. Fusce elementum euismod sapien, a malesuada arcu pulvinar vel. Nullam porta cursus mauris mollis sagittis. Aliquam tellus augue, hendrerit sed nunc ut, scelerisque feugiat orci. Donec nec laoreet velit. Donec quis dignissim nisl. Curabitur dapibus dignissim eros, id luctus est faucibus a. Integer non venenatis dui. Sed euismod imperdiet elit vitae fermentum.</p>
    <ul>
        <li>2025: Museum expansion</li>
        <li>2021: Museum collaboration</li>
        <li>2018: Museum opens</li>
    </ul>
</div>
<footer>© <p id="copyYear"></p> MonoMuse. All rights reserved.</footer>
</body>
</html>